@charset "UTF-8";

/*configs gerais*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*variaveis*/
:root{
    --bckg: #111827;
    --titulos:#8C15FD;
    --btns: #8614F7;
    --subtTitulos: #941BFA;
}

body{
    background-color: var(--bckg);

    padding: 10px;
}

/*começo do header*/
#container-titulo > h1,#container-titulo > h2{
    color: var(--titulos);
}

#container-img{
    background-image: linear-gradient(to bottom, var(--bckg), var(--titulos));

    width: 200px;

    border-radius: 20px;

    box-shadow: 1px 1px 20px var(--btns) ;
}