@charset "UTF-8";

/*configs gerais*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*variaveis*/
:root{
    --bckg: #111827;
    --titulos:#8C15FD;
    --textos: #9CA3AF;
    --btns: #8614F7;
    --subtTitulos: #941BFA;
    --subTitulos2: white;
}

body{
    background-color: var(--bckg);
}

/*começo do header*/
h1{
    color: var(--subTitulos2);
}

h2{
    color: var(--titulos);
}

p{
    color: var(--textos);
    font-size: 1.1em;
    font-weight: bold;
}

#container-img{
    background-image: linear-gradient(to bottom, var(--bckg), var(--titulos));

    width: 150px;
    height: 190px;

    border-radius: 20px;

    box-shadow: 1px 1px 20px var(--btns) ;
}

#btnProjetos{
    color: var(--subTitulos2);
    
    background-color: var(--btns);

    padding: 10px;

    border-radius: 10px;

    font-weight: bold;

    text-decoration: none;

}

#btnProjetos:hover{
    color: var(--btns);

    background-color: var(--subTitulos2);

    transition: background-color 1s ease-out;

}

/* fim area do header*/

/*começo area de navegação menu*/
nav{
    border-bottom: 1px solid var(--subTitulos2);

    margin: 20px 20px;
}

#menu{
    list-style: none;

    width: 100%;

    justify-content: space-between;
}

#itensMenu{
    color: var(--subTitulos2);

    font-weight: bold;
}